
<div class="container">
  <div class="input1">
  <div class="input-field col s12" *ngIf="inputCount == 1">
    <i class="material-icons prefix" style="line-height: 0;font-size: 4rem;line-height: 2">devices</i>
    <input placeholder="+91" id="icon_telephone" type="text" class="validate" style="font-size: 4rem;height: 6rem;margin-left: 80px; !important;">
  </div>
    <a class="btn" (click)="next()">Next</a>
  </div>


  <div class="input2" *ngIf="inputCount == 2">
    <div class="input-field col s12">
      <i class="material-icons prefix" style="line-height: 0;font-size: 4rem;line-height: 2">sms</i>
      <input placeholder="OTP: * * * *" id="sms" type="text" class="validate" style="font-size: 4rem;height: 6rem;margin-left: 80px; !important;">
    </div>
    <a class="btn" (click)="next()">Next</a>
  </div>

  <div class="input2" *ngIf="inputCount == 2">
  <div class="input-field col s12">
    <i class="material-icons prefix" style="line-height: 0;font-size: 4rem;line-height: 2">lock</i>
    <input placeholder="Password" id="lock" type="password" class="validate" style="font-size: 4rem;height: 6rem;margin-left: 80px; !important;">
  </div>
  <a class="btn" (click)="next()">Next</a>
  </div>
</div>
