.input1 {
  position:absolute;
  top: 40%;
  left: 20%;
  width: 60%;
}

.input2 {
  position:absolute;
  top: 40%;
  left: 20%;
  width: 60%;
}

.input3 {
  position:absolute;
  top: 40%;
  left: 20%;
  width: 60%;
}
