<section id="map">

    <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="top-left-pane">

          </div>
        </li>
        <li><div class="user-view">
          <div class="background">
            <img src="https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&h=350" height="400px">
          </div>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
      <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <div class="top-right-pane">
          <div class="top-pane">
            
          </div>
          <div class="mid-pane">

          </div>
          <div class="bottom-pane">
            <div class="row">
              <div class="col s4 m4 l4 ">
                <a class="btn-floating btn-large waves-effect waves-light right center red "><i class="material-icons">cancel</i></a>
                <a class="btn-floating btn-large waves-effect waves-light right center red "><i class="material-icons">add</i></a>
                <a class="btn-floating btn-large waves-effect waves-light right center red "><i class="material-icons">clear</i></a>
              </div>
              <div class="col s4 m4 l4 ">
                
                </div>
                <div class="col s4 m4 l4 ">
                
                  </div>
            </div>
          </div>
      </div>
    </section>
