
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
  left: 0;
}
.truck {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #3887be;
  pointer-events: none;
}

#mappo
{
  height: 100% !important;
  width: 100% !important;
  position: absolute
}
.top-right-pane
{
  position: absolute;
  height: 100%;
  width: 80%;
  top: 0;
  margin-left: 20%;
}
.top-left-pane
{
  height:65px;
  background-color: #149159;
  box-shadow: 5px 5px 3px grey;
}
.top-pane
{
  height:10% !important;
  background-color: #149159;
  box-shadow: 5px 5px 3px grey;
}
.mid-pane
{
  height:80%;
  background-color: aqua;
}
.bottom-pane
{
  height:10%;
  background-color:#149159;
  bottom:0;
}
.user-view
{
  height: 200px !important;
}
